.navbar {
    position: relative;
    font-size: 18px;
    background:transparent;
    padding-bottom: 10px;
  }
  .container{
    width:80%;
    margin-left: auto;
    margin-right:auto
  }
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links
   {
    margin-top: 2vh;
      font-size: 25px;
      font-weight: 500;
    text-decoration: none;
    color: rgba(241, 239, 239, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }